@import "../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";
@import "../../node_modules/@fortawesome/fontawesome-free/css/regular.css";
@import "../../node_modules/@fortawesome/fontawesome-free/css/brands.css";
@import "../../node_modules/@fortawesome/fontawesome-free/css/solid.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


#isDinamico,
.input-create {
    margin-top: 50px;
}

#img-qr {
    margin: 5px;
}

#btn-descarga-qr {
    border: solid 1px rgb(1, 93, 199) ;
    border-radius: 5px ;
    background-color: transparent ;
    text-align: center ;
    align-content: center ;
}

#btn-descarga-qr:hover {
    background-color: green ;
    color: white ;
}
